<% provide(:title, "ヘルプ") %>
<div class="page-header">
  <h1>ヘルプ</h1>
</div>
<% breadcrumb :help %>
  <h2>
    何をするサイトなのか
  </h2>
  <p class="site_description">
    Revieでは読んだ本や観た映画の感想を、誰にアピールするでもなく発信してもらう場です。<br>
    名前の出ているSNSでは恥ずかしい評論でも、口汚い罵りでも、なんでも発信してもらうことを目的にしています。<br>
    さらに、そのレビューによって誰かが新しく本やブルーレイを購入すれば、広告費を還元いたします。
  </p>

  <h2>
    どうやって広告費を還元するか
  </h2>
  <p class="site_description">
    アフィリエイトで得た広告収入を、レビュアーに還元します。
    本当はもっと多く収益を還元したいのですが、鋭意努力しますので、お待ちください。
    成果が出た月に、ご登録いただいたメールアドレスにご連絡して、送金手続きを行います。
  </p>


  <h2>
    よくある質問 / FAQ
  </h2>
    <ul id="faq">
      <li>有料ですか？
        <p>全部無料で運営しています。気にされずに利用してください。</p>
      </li>
      <li>会員登録は必須ですか？
      <p>不要です。ただし、本棚機能やフォロー機能、キャッシュバックといった機能が会員限定になっております。</p>
    </li>
      <li>運営元はどこですか？
      <p>個人で運営しています。ご連絡が必要な場合は、問い合わせフォームにお願いします。</p>
    </li>
    </ul>
