<div class="center jumbotron title">
  <h1>「楽しい」を共有しよう　Revie</h1>
  <p>書評・感想を自由に発信。広告費はレビュアーに還元</p>
</div>

    <% if logged_in? %>
      <div class="row">
        <div>
          <h2>お気に入りユーザーの投稿</h2>
          <%= render 'shared/feed' %>
        </div>
      </div>
      <% else %>
    <aside class="col-md-6 element_box">
      <h2>早速レビューを投稿しよう</h2>
      <section class="review_form">
        <%= render 'shared/review_form' %>
      </section>
      <div class="text-right">
        <span>会員なら本棚作成や報酬受取が可能です</span>
        <li class="btn btn-primary"><%= link_to "会員登録 ＞", signup_path %></li>
      </div>
    </aside>
    <% end %>

<div class="element_box">
  <h2>最新3作品</h2>
  <div class="container">
    <div class="row row-eq-height">
      <% latest_item.each do |latest_item|%>
        <%= render latest_item %>
        <% end %>
<div class="text-right">
  <%= link_to "商品一覧へ", items_url ,:class => "change-view" %>
</div>
</div>
</div>
</div>

    <h2>新着レビュー</h2>
    <ul class="list-group">
        <% latest_review.each do |latest_review|%>
        <li class="list-group-item active">
          <%= link_to latest_review.item.title, latest_review.item %>
        </li>
        <%= render latest_review %>
          <% end %>
      </ul>
