<%= javascript_include_tag "autocomp" %>

<%= form_for(@review) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <span>タイトル</span>
    <%= f.text_area :title, placeholder: "評論のタイトルです" %>
    <span>本文</span>
    <%= f.text_area :content, placeholder: "評論の本文です" %>
    <span>レビューする作品</span>
    <%= f.text_field :item_id, class: "form-control typeahead", id: "item_title" %>

    <span>評価（1~5）</span>
    <%= f.number_field :point %>
    <% if logged_in? %>
    <div class="field">
      <%= f.check_box :user_id,{:checked => false},checked_value = @user.id ,unchecked_value = 5%>
      <span>アカウント名を公開して投稿する</span>
    </div>
    <% end %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
  <span class="picture">
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
<% end %>

<script type="text/javascript">
  $('#review_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('5MB以下のファイルを選んでください');
    }
  });
</script>
