<div class="col-xs-4 col-lg-3">
  <div class="item_list">
  <%= link_to item do %>
    <h3><%= item.title %></h3>
    <div>
      <% if item[:photo].blank? %>
       <%= image_tag "noimg.jpg" , :class => "img-responsive"%>
      <% else %>
       <%= image_tag item[:photo] , :class => "img-responsive"%>
      <% end %>
      <div class="bookinfo">
      <div><%= item.author %></div>
      <div><%= item.company %></div>
      <div><%= item.price %></div>
    </div>
    </div>
  <% end %>
  <div class="tagging">
    <span class="type"><%= link_to item.type.name, item.type %></span>
    <span class="category"><%= link_to item.category.name, item.category %></span>
    <% if logged_in? && current_user.admin?%>
      | <%= link_to 'Edit', edit_item_path(item) %>
      | <%= link_to "delete", item, method: :delete,
                                    data: { confirm: "本当に削除しますか" } %>
    <% end %>
  </div>
</div>
</div>
