<p id="notice"><%= notice %></p>
<div class="page-header">
<h1>作品タイトルの一覧からレビューを探す</h1>
</div>
  <% breadcrumb :items %>
<div class="container">
  <ul class="row row-eq-height">
      <%= render @items %>
</ul>
</div>
