<% provide(:title, "作品を追加する") %>
<div class="page-header">
  <h1>作品を追加する</h1>
  <p>是非ともレビューしたい作品を追加してください。</P>
</div>
<%= form_for(@item) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <span>タイトル</span>
    <%= f.text_area :title %>
    <span>概要</span>
    <%= f.text_area :description %>
    <span>新品価格</span>
    <%= f.number_field :price %>
    <span>著者</span>
    <%= f.text_area :author %>
    <span>出版社・提供</span>
    <%= f.text_area :company %>
    <span>媒体・メディア</span>
    <%= f.collection_select :type_id, Type.all, :id, :name, :include_blank => true %>
    <span>カテゴリー・ジャンル</span>
    <%= f.collection_select :category_id, Category.all, :id, :name, :include_blank => true %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
