<p id="notice"><%= notice %></p>
<div class="page-header">
  <h1>ホラー/SF/ロマンスなどカテゴリーからレビューを探す</h1>
<p>好きなメディアでレビューしたい作品を見つけよう。メディアが足りない場合は、問い合わせから申請をしてください。</p>
</div>
  <% breadcrumb :categories %>
<ul class="list-group">
    <% @categories.each do |category| %>
        <li class="list-group-item">
          <%= link_to category.name, category %>
          (<%= category.items.count %>)
        <% if logged_in? && current_user.admin?%>
          | <%= link_to 'Edit', edit_category_path(category) %>
          | <%= link_to "delete", category, method: :delete,
                                        data: { confirm: "本当に削除しますか" } %>
        <% end %>
        </li>
    <% end %>
  </ul>
