<% provide(:title, @category.name) %>
<div class="page-header">
  <h1><%= @category.name %>の関連商品一覧 (<%= @category.items.count %>)</h1>
</div>
  <% breadcrumb :category, @category %>
<p class="description"> <%= @category.description %></p>
<% if @category.items.any? %>
<div class="container">
  <ul class="row row-eq-height">
    <%= render @items %>
  </ul>
</div>
  <%= will_paginate @items %>
<% end %>
