<li id="review-<%= review.id %>" class="list-group-item">
  <span class="user">
    <%= link_to review.user.name, review.user %>
  </span>
<%= link_to review do %>
  <div class="content">
    <%= review.content.truncate(100) %>
    <%= image_tag review.picture.url if review.picture? %>
  </div>
  <span class="timestamp">
    <%= time_ago_in_words(review.created_at) %> ago
    <% if current_user?(review.user) %>
      <%= link_to "delete", review, method: :delete,
                                       data: { confirm: "削除しますか？" } %>
    <% end %>
<% end %>
  </span>
</li>
