<footer class="footer">
  <div class="container">
    <p class="text-muted">Reviewは個人によって運営されています</p>
    <div class="row">
      <a class="col-xs-3 col-lg-2" href="/aboutus">
        Revieとは
      </a>
      <a class="col-xs-3 col-lg-2" href="/help">
        ヘルプ・よくある質問
      </a>
      <a class="col-xs-3 col-lg-2" href="/contact">
        お問い合わせ
      </a>
      <a class="col-xs-3 col-lg-2" href="/items">
        タイトル一覧
      </a>
      <a class="col-xs-3 col-lg-2" href="/categories">
        カテゴリー一覧
      </a>
      <a class="col-xs-3 col-lg-2" href="/types">
        媒体一覧
      </a>
    </div>
  </div>
</footer>
